registry=https://registry.npmjs.org/
always-auth=false
fund=false
audit=false
# Fuerza uso de registro público para cualquier scope y evita uso de token heredado
@*:registry=https://registry.npmjs.org/
# Línea para neutralizar posibles variables de entorno con token inválido (deja vacío)
//registry.npmjs.org/:_authToken=
